<div class="container">
    <div class="row">
        <div class="alert alert-dismissible alert-danger" ng-show="error">
            <button type="button" class="close" ng-click="closeError()" >&times;</button>
            <strong>{{errorMessage}}</strong>
        </div>
        <countdown></countdown>
        <br>
        <div class="col-md-4">
            <div class="jumbotron">
                <h2>Welcome to: {{thisSession.title}}</h2>
                {{thisSession.description}}
                <div class="row">
                    <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ngclipboard data-clipboard-target="#guestUrl" data-toggle="popover" data-content="Copied!">Invite a guest</button>
                    </span>
                        <input type="text" id="guestUrl" class="form-control" value="{{'localhost:3000/session/'+thisSession.id+'/join/'+thisSession.guestPass}}" readonly>
                    </div>
                    <button class="btn btn-block btn-warning" ng-if="thisSession.PersonSession.isModerator" ng-click="finishSession()">FINISH SESSION</button>
                </div>
                    {{peopleOnline}}
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Participants<span class="badge">{{participants.length}}</span></h3>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="test">
                                    <ul class="list-group" id="list-of-people">
                                        <li class="list-group-item" ng-model="participant" ng-repeat="participant in participants">{{participant.userName}}
                                            <div>
                                                <span class="label label-default" ng-show="!participant.isOnline">Offline</span>
                                                <span class="label label-primary" ng-show="participant.isOnline">Online</span>
                                                <span class="label label-success" ng-show="participant.alreadyVote">Ready</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <h6>how many people have voted:</h6>
                <div class="row">
                    <uib-progressbar max="participants.length" value="quantOfPeopleWhoVoted"><span style="color:white; white-space:nowrap;">{{quantOfPeopleWhoVoted}} / {{participants.length}}</span></uib-progressbar>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-11">
                            <h3 class="panel-title">Events</h3>
                        </div>
                        <div class="col-md-1">
                            <span class="glyphicon glyphicon-plus icon_minim" data-toggle="popover" data-trigger="hover" title="Create a new event!" ng-if="thisSession.PersonSession.isModerator" ng-click="openModalCreate()"></span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li ng-repeat=" eventData in events" class="list-group-item">
                            <div class="row">
                                <div class="col-md-8">
                                    <h4><a href={{'/session/'+eventData.SessionId+'/event/'+eventData.id+'/voteRoom'}}> {{eventData.objective}} </a></h4>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-warning" ng-if="thisSession.PersonSession.isModerator" ng-click="openModalEdit(eventData)">Edit</button>
                                    <button type="button" class="btn btn-danger" ng-if="thisSession.PersonSession.isModerator" ng-click="delete(eventData)">Delete</button>
                                </div>
                                <div class="col-md-1">
                                    <span class="glyphicon glyphicon-floppy-saved" ng-show="eventData.saved"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-success btn-block" ng-click="sendVotes()"> Send Votes!</button>
    </div>
</div>
            <!--<button ng-if="inTheZone" type="button" class="btn btn-lg btn-info col-md-2 col-offset-2" data-toggle="modal" data-target=".bd-modal-sm">Add an Event</button>

            <div class="modal bd-modal-sm">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Creating a new Event</h4>
                        </div>
                        <div class="modal-body">
                            <p>An event it's where the players will make the decisions based in the objective and voting with cards that represent those decisions.</p>
                            <div class="form-group">
                                <label for="objective" class="form-control-label">Event's Objective:</label>
                                <textarea class="form-control" name= "objective" id="objective" ng-model="event.objective"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="timer" class="form-control-label">Decision's Alarm Timer (hh:mm)</label>
                                <input type="time" class="form-control" name ="timer" id="timer" ng-model="event.timer">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="newEvent()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->