<div class="well container">
    <form class="form-horizontal">
        <fieldset>
            <legend translate="LOG_IN.TITLE"></legend>
            <div class="alert alert-dismissible alert-danger" ng-show="error">
                <button type="button" class="close" ng-click="closeError()" >&times;</button>
                <strong>{{errorMessage}}</strong>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label" translate="LOG_IN.EMAIL"></label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputEmail" placeholder="{{'LOG_IN.EMAIL'| translate}}" name="email" type="email" ng-model="person.email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label" translate="LOG_IN.PASSWORD"></label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputPassword" name= "password" placeholder="{{'LOG_IN.PASSWORD'| translate}}" type="password" ng-model="person.password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <a type="reset" class="btn btn-default" href="/welcome" translate="LOG_IN.BTNS.CANCEL"></a>
                    <button type="submit" class="btn btn-primary" ng-click="logIn()" ng-disabled="disabled" translate="LOG_IN.BTNS.SUBMIT"></button>
                    <button class="btn btn-warning" ng-click="loginAsAnonymous()" translate="LOG_IN.BTNS.LOG_ANON"></button>
                    <a class="btn btn-social-icon btn-lg btn-facebook" href="/auth/facebook" target="_self">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-social-icon btn-lg btn-google" href="/auth/google" target="_self">
                        <i class="fa fa-google"></i>
                    </a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
