<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/welcome">QckChoice</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li><a href=" sessionUser" translate="NAV_BAR.YOUR_SESSION"><span class="sr-only">(current)</span></a></li>
                <li><a href="#"></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" translate="NAV_BAR.DROP_DOWN.LANG"><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" translate="NAV_BAR.DROP_DOWN.SEL.EN" ng-click="changeLang('en')"></a></li>
                        <li><a href="#" translate="NAV_BAR.DROP_DOWN.SEL.ES" ng-click="changeLang('es')"></a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input class="form-control" placeholder="Search" type="text">
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if='logged' ng-click="logOut()"><a href="#" translate="NAV_BAR.LOG_OUT"></a></li>
                <div class="form-group">
                    <div ng-if='!logged' class="btn-group">
                        <a href="logIn" class="btn btn-md btn-primary" translate="NAV_BAR.LOG_IN"></a>
                        <a href="signUp" class="btn btn-md btn-warning" translate="NAV_BAR.SIGN_IN"></a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>