<div class="container">
    <div class="jumbotron">
        <div class="row">
            <h2 translate="SESSION_USER.TITLE"></h2>
            <!--<button type="button" class="btn btn-lg btn-primary col-md-2 col-offset-2" data-toggle="modal" data-target=".bd-modal-sm">Add Session</button>-->
            <button class="btn btn-lg btn-primary" ng-click="openModalCreate()" translate="SESSION_USER.CREATE"></button>
        </div>
        <br>
        <div class="row">
            <ul class="list-group">
                <li ng-repeat=" sessionData in sessions" class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">
                            <h4><a href={{'session/'+sessionData.id}} ng-if="sessionData.active"> {{sessionData.title}} </a></h4>
                            <h4><a href={{'session/'+sessionData.id+'/results'}} ng-if="!sessionData.active"> {{sessionData.title}} </a></h4>
                            <h6>{{('SESSION_USER.CREATED_ON'| translate) + sessionData.createdAt}}</h6>
                        </div>
                        <div class="well col-md-9">
                            {{sessionData.description}}
                        </div>
                    </div>
                    <div class="row" ng-if="sessionData.active">
                        <!--<div class="col-md-10">
                            <button type="button" class="btn btn-success" ng-click="showGuestUrl = !showGuestUrl" translate="SESSION_USER.INVITE"></button>
                            <input type="text" ng-show="showGuestUrl" class="form-control" aria-describedby="basic-addon3" value="{{'Copy & share this link: '+'localhost:3000/session/'+sessionData.id+'/join/'+sessionData.guestPass}}" readonly>
                        </div> -->
                        <div class="col-md-2">
                            <span ng-if="sessionData.PersonSession.isModerator">
                                <button type="button" class="btn btn-warning" ng-click="openModalEdit(sessionData)" translate="SESSION_USER.EDIT"></button>
                                <button type="button" class="btn btn-danger" ng-click="delete(sessionData)" translate="SESSION_USER.DELETE"></button>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
