<div class=" container">
    <div class="jumbotron">
        <div class="page-header">
            <h1 translate="VOTE_ROOM.OBJECTIVE"></h1>
            <h4>{{thisEvent.objective}}</h4>
        </div>
        <countdown></countdown>
        <br>
        <h1 class="time"><strong class="time" translate="VOTE_ROOM.VOTE_ZONE.TITLE"></strong></h1>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="panel-title" translate="VOTE_ROOM.VOTE_ZONE.PANEL_OF_CHOICES_TITLE"></h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group mod" dnd-list="models.lists.A">

                            <li class="list-group-item" ng-repeat="item in models.lists.A"
                                dnd-draggable="item"
                                dnd-effect-allowed="move"
                                dnd-moved="models.lists.A.splice($index, 1)"
                                dnd-selected="models.selected = item"
                                ng-class="{'selected': models.selected === item}"
                                uib-popover-template="'myPopoverTemplate.html'"
                                popover-title="{{item.name}}"
                                popover-trigger="'mouseenter'"
                                popover-placement="bottom"
                            >
                                <div class="row">
                                    <div class="col-md-6">
                                        <b>{{item.name}}</b>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="panel-title" translate="VOTE_ROOM.VOTE_ZONE.PANEL_OF_VOTES_TITLE"></h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group mod" dnd-list="models.lists.B">
                            <li class="list-group-item" ng-repeat="item in models.lists.B"
                                dnd-draggable="item"
                                dnd-effect-allowed="move"
                                dnd-moved="models.lists.B.splice($index, 1)"
                                dnd-selected="models.selected = item"
                                ng-class="{'selected': models.selected === item}"
                                uib-popover-template="'myPopoverTemplate.html'"
                                popover-title="{{item.name}}"
                                popover-trigger="'mouseenter'"
                                popover-placement="bottom"
                            >
                                <div class="row">
                                    <div class="col-md-6">
                                        <b>{{item.name}}</b>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="sel2" class="col-md-4" translate="VOTE_ROOM.VOTE_ZONE.CHOICES.PRIORITY.TITLE"></label>
                                        <div class="col-md-8">
                                            <select class="form-control" id="sel2" ng-model="item.priority" ng-options="category as category.label for category in categories track by category.val"></select>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group">
                <label for="comment" translate="VOTE_ROOM.VOTE_ZONE.WHY_THIS"></label>
                <textarea class="form-control" rows="5" id="comment" ng-model="models.reason"></textarea>
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-primary btn-block" ng-click="saveVote()" translate="VOTE_ROOM.VOTE_ZONE.SAVE_BTN"></button>
        </div>
    </div>
    {{models}}
</div>
<chat></chat>
<script type="text/ng-template" id="myPopoverTemplate.html">
    <div class="container">
        <div class="row">
            <b translate="VOTE_ROOM.VOTE_ZONE.CHOICES.MECHANISM"></b>{{item.mechanism}}
        </div>
        <div class="row">
            <b translate="VOTE_ROOM.VOTE_ZONE.CHOICES.RESULT"></b>{{item.result}}
        </div>
    </div>
</script>