<!-- Full Width Image Header -->
<header class="header-image">
    <div class="headline">
        <div class="container">
            <h1>QckChoice</h1>
            <h2 translate="WELCOME.SLOGAN"></h2>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <h1><strong class="highlight" translate="WELCOME.MAIN_FEATURES"></strong></h1>
    <hr class="featurette-divider">

    <!-- First Featurette -->
    <div class="featurette" id="about">
        <div class="col-md-4">
            <img class="featurette-image img-circle img-responsive pull-right" src="img/vote zone.png">
        </div>
        <div class="col-md-8">
            <h2 class="featurette-heading"> {{'WELCOME.FEATURE_1.H2' | translate}}
                <strong class="highlight" translate="WELCOME.FEATURE_1.H2_STRNG"></strong>
            </h2>
            <p class="lead" translate="WELCOME.FEATURE_1.DESCRIP"></p>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- Second Featurette -->
    <div class="featurette" id="services">
        <div class="col-md-8">
            <h2 class="featurette-heading">{{'WELCOME.FEATURE_2.H2' | translate}}
                <strong class="highlight" translate="WELCOME.FEATURE_2.H2_STRNG"></strong>
            </h2>
            <p class="lead" translate="WELCOME.FEATURE_2.DESCRIP"></p>
        </div>
        <div class="col-md-4">
            <img class="featurette-image img-circle img-responsive pull-left" src="img/weighted chart.png">
        </div>
    </div>

    <hr class="featurette-divider">
    <!-- Third Featurette -->
    <div class="featurette" id="contact">
        <div class="col-md-4">
            <img class="featurette-image img-circle img-responsive pull-right" src="img/participants.png">
        </div>
        <div class="col-md-8">
            <h2 class="featurette-heading">{{'WELCOME.FEATURE_3.H2' | translate}}
                <strong class="highlight" translate="WELCOME.FEATURE_3.H2_STRNG"></strong>
            </h2>
            <p class="lead" translate="WELCOME.FEATURE_3.DESCRIP"></p>
        </div>
    </div>

    <hr class="featurette-divider">
        <h1><strong class="highlight" translate="WELCOME.DOWNLOAD.TITLE"></strong></h1>
        <a class="btn btn-success btn-block" ng-show="lang == 'es'" href="/api/downloadGame/es" target="_self" translate="WELCOME.DOWNLOAD.BTN" download></a>
        <a class="btn btn-success btn-block" ng-show="lang == 'en'" href="/api/downloadGame/en" target="_self" translate="WELCOME.DOWNLOAD.BTN" download></a>
    <hr class="featurette-divider">

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; QckChoice 2017 by PyramidWorks</p>
            </div>
        </div>
    </footer>

</div>

